* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow-wrap: break-word;
            word-break: break-all;
  }
.octodex {
    display: inline-block;
}
.octocat {
    display: inline-block;
    width: 31%;
    margin: 0.65rem;
}
.octocat img {
    max-width: 100%;
    border: 1px solid 	rgb(211,211,211);
    border-radius: 1%;
}
.image-footer {
    position: relative;
    border-bottom: 1px solid rgb(211,211,211);
    height: 50px;
    font-family: sans-serif;
}
.image-caption {
    float: right;
    width: 100%;
    overflow: auto;
    height: 60px;
    text-align: right;
}

.image-footer > span:first-child {
    position: absolute;
    top: 26%;
    left: 0;
    color: 	rgb(211,211,211);
}

.authors {
    float: right;
}
.authors img {
    border: none;
    border-radius: 10%;
    max-height: 30px;
    min-height: 30px;
    margin-top: -7px;

}
.image-caption span, .image-caption a {
    display: inline-block;
    padding-top: 12px;
}
.image-caption > span:first-child {
    margin-left: 20px;
}
.image-caption li {
    list-style: none;
    list-style-position: inside;
}
.image-caption li::before {
    content: "\025E3";
    position: absolute;
    transform: rotate(-45deg);
    top: -11px;
    right: 6px;
    color: rgb(211,211,211);
    font-size: 0.8em;
}

span {
    color: gray;
    font-weight: bold;
}

a:link, a:visited, a:focus, a:hover, a:active {
    color: 	rgb(60,60,60);
    text-decoration: none;
    font-weight: bold;
}

